<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Warn"
  internalLogFile="${basedir}/Logs/nlog-internal.log">

	<variable name="log-root" value="${basedir}/Logs"/>
	<variable name="log-daily" value="${log-root}/${date:format=yyyy-MM}" />

	<targets>

		<target encoding="utf-8" xsi:type="File" name="filelog"
				fileName="${log-daily}/nlog-all_${shortdate}.log"
				archiveAboveSize="20480000"
				archiveNumbering="Sequence"
				archiveFileName="${log-daily}/nlog-all_${shortdate}-{####}.log"
				maxArchiveFiles="2000"
				layout="${time}|${uppercase:${level}}|${aspnet-mvc-controller}.${aspnet-mvc-action}|Duration=${event-properties:item=Duration}|${message} ${onexception:inner=${newline}${exception:format=ToString}}">

		</target>

		<!--write logs to file-->

		<!--<target xsi:type="File" name="txtfile"
		  fileName="${basedir}/Logs/nlog-all_${shortdate}.log"
		  layout="${longdate}|${event-properties:item=Duration}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />-->

		<!--<target xsi:type="File" name="Public"
		  fileName="${basedir}/Logs/nlog-Public_${shortdate}.log"
		  layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception} ${var:json}=${var:json}" />-->


		<target xsi:type="Database" name="dblog"
				dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
				connectionString="${var:DBMain}"
				commandType="Text"
				commandText="INSERT INTO DOC_NLOG(NLG_ID, PRJ_ID, ACTION,FILE_ID, NLG_MESSAGE, LOGLEVEL,TM_SATMP,DURATION) VALUES(S_NLG_ID.Nextval,:PRJ_ID,:ACTION,:FILE_ID,:NLG_MESSAGE,:LOGLEVEL,to_date(:TM_SATMP,'yyyy-mm-dd HH24:MI:SS'),:DURATION)">
			<parameter name="PRJ_ID" layout="${appdomain:format={1\}}" />
			<parameter name="ACTION" layout="${event-properties:item=Action}" />
			<parameter name="FILE_ID" layout="${event-properties:item=FileID}" />
			<parameter name="NLG_MESSAGE" layout="${message}" />
			<parameter name="LOGLEVEL" layout="${uppercase:${level}}" />
			<parameter name="TM_SATMP" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
			<parameter name="DURATION" layout="${event-properties:item=Duration}" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!--<logger name="*" minlevel="Info" writeTo="filelog" />-->
		<logger name="*" minlevel="Info" writeTo="filelog" />



	</rules>
</nlog>
